In [1]:
import pandas as pd
df=pd.read_excel("C:/Users/gosha/Downloads/Telegram Desktop/Реестр_отредактированный.xlsx") 
df.tail()

,Наименование / ФИО,Тип субъекта,Категория,ИНН,Основной вид деятельности,Регион,Район,Город,Населенный пункт
8922,"СМУ ""МОНОЛИТ"" (ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТ...",Юридическое лицо,Малое предприятие,2301091157,41.20 Строительство жилых и нежилых зданий,23 - Краснодарский край,Анапский р-н,г Анапа,NaN
8923,"СМУ ""РУСЬ"" (ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕН...",Юридическое лицо,Малое предприятие,2301083597,41.20 Строительство жилых и нежилых зданий,23 - Краснодарский край,Анапский р-н,г Анапа,NaN
8924,СОВМЕСТНОЕ ПРЕДПРИЯТИЕ ОБЩЕСТВО С ОГРАНИЧЕННОЙ...,Юридическое лицо,Среднее предприятие,6504043928,41.20 Строительство жилых и нежилых зданий,65 - Сахалинская область,Корсаковский р-н,г Корсаков,NaN
8925,"ФИРМА ""ТЕПЛОСТРОЙПРОЕКТ-С"" ОБЩЕСТВО С ОГРАНИЧЕ...",Юридическое лицо,Малое предприятие,2002001476,41.20 Строительство жилых и нежилых зданий,20 - Чеченская Республика,Ачхой-Мартановский р-н,NaN,с Валерик
8926,"ФИРМА ""Ц.М.ХОЛДИНГ"" ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТ...",Юридическое лицо,Малое предприятие,702005585,41.20 Строительство жилых и нежилых зданий,07 - Кабардино-Балкарская Республика,Зольский р-н,NaN,с Малка

In [19]:
with open('trash.txt', 'r', encoding='utf-8') as f:
    trash = f.read().splitlines()
f.close()
for i in range(0,len(trash)):
    trash[i]=trash[i].replace("Информации для инн "," ")
    trash[i]=trash[i].replace(" нет"," ")
    trash[i]=int(trash[i])
trash[:10]

[5009106346,
 3702032739,
 5410147327,
 2536234935,
 5610004196,
 2301090361,
 6453058803,
 277039262,
 7805445260,
 7806359535]

In [23]:
for x in trash:
    df=df[df["ИНН"]!=x]

In [55]:
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8709 entries, 0 to 8708
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Наименование / ФИО         8709 non-null   object
 1   Тип субъекта               8709 non-null   object
 2   Категория                  8709 non-null   object
 3   ИНН                        8709 non-null   int64
 4   Основной вид деятельности  8709 non-null   object
 5   Регион                     8709 non-null   object
 6   Район                      1033 non-null   object
 7   Город                      5621 non-null   object
 8   Населенный пункт           647 non-null    object
dtypes: int64(1), object(8)
memory usage: 612.5+ KB

In [143]:
df1=pd.read_csv("C:/Users/gosha/Анализ строительной отрасли/new_table.csv",sep=';',names=['Нематериальные активы 2024','Нематериальные активы 2023','Основные средства 2024','Основные средства 2023','Доходные вложения 2024','Доходные вложения 2023','Доход 2024','Доход 2023'])
df1.head()

,Нематериальные активы 2024,Нематериальные активы 2023,Основные средства 2024,Основные средства 2023,Доходные вложения 2024,Доходные вложения 2023,Доход 2024,Доход 2023
0,27,32,347 613,334 651,798,927,(8 789),108 966
1,-,-,1 301 535,1 174 472,4 150,4 248,10 148,1 565 001
2,-,-,93 489,91 174,-,-,107 664,1 002 486
3,-,-,148 048,112 388,-,-,23 641,1 031 417
4,8 223,1 556,13 961,150 979,69 747,188 843,(2 975),116 186

In [145]:
import pandas as pd

def clean_data(value):
    
    if pd.isna(value):
        return 0
    
    if value == '-' or value == 0 or value == '0':
        return 0
    
    if isinstance(value, (int, float)):
        return int(value)
    
    if isinstance(value, str):
        value = value.replace(' ', '')
        
        if value.startswith('(') and value.endswith(')'):
            inner_value = value[1:-1]
            try:
                return -int(inner_value)
            except ValueError:
                inner_value = inner_value.replace(' ', '')
                return -int(inner_value)
        try:
            return int(value)
        except ValueError:
            return 0
    
    return 0

def clean_df(df):
    return df.map(clean_data)

df1=clean_df(df1)
df1.head()

,Нематериальные активы 2024,Нематериальные активы 2023,Основные средства 2024,Основные средства 2023,Доходные вложения 2024,Доходные вложения 2023,Доход 2024,Доход 2023
0,27,32,347613,334651,798,927,-8789,108966
1,0,0,1301535,1174472,4150,4248,10148,1565001
2,0,0,93489,91174,0,0,107664,1002486
3,0,0,148048,112388,0,0,23641,1031417
4,8223,1556,13961,150979,69747,188843,-2975,116186

In [147]:
df_final = pd.concat([df, df1], axis=1)
df_final.tail()

,Наименование / ФИО,Тип субъекта,Категория,ИНН,Основной вид деятельности,Регион,Район,Город,Населенный пункт,Нематериальные активы 2024,Нематериальные активы 2023,Основные средства 2024,Основные средства 2023,Доходные вложения 2024,Доходные вложения 2023,Доход 2024,Доход 2023
8704,"ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО ""СТРОИТЕЛЬНОЕ УП...",Юридическое лицо,Малое предприятие,2723009658,41.20 Строительство жилых и нежилых зданий,27 - Хабаровский край,NaN,г Хабаровск,NaN,17031,5919,0,8776,17988,25116,0,289
8705,"ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО ""СТРОЙ-СЕРВИС""",Юридическое лицо,Малое предприятие,901000655,41.20 Строительство жилых и нежилых зданий,09 - Карачаево-Черкесская Республика,NaN,г Черкесск,NaN,0,0,6694,6863,0,0,4023,70316
8706,"ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО ""СУ-8 БЕЛГОРОДСТ...",Юридическое лицо,Малое предприятие,3123002194,41.20 Строительство жилых и нежилых зданий,31 - Белгородская область,NaN,г Белгород,NaN,0,0,25870,10369,0,0,5287,305920
8707,"СМУ ""МОНОЛИТ"" (ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТ...",Юридическое лицо,Малое предприятие,2301091157,41.20 Строительство жилых и нежилых зданий,23 - Краснодарский край,Анапский р-н,г Анапа,NaN,24973,32309,22984,29045,52127,65540,-683,4974
8708,"СМУ ""РУСЬ"" (ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕН...",Юридическое лицо,Малое предприятие,2301083597,41.20 Строительство жилых и нежилых зданий,23 - Краснодарский край,Анапский р-н,г Анапа,NaN,64110,19707,42116,4968,147619,51704,-43,39472

In [149]:
df_final=df_final[df_final['Доход 2024']!=0]
df_final=df_final[df_final['Доход 2023']!=0]

In [151]:
df_final['Амортизация НМА(приблизительно)'] = df_final['Нематериальные активы 2024']-df_final['Нематериальные активы 2023']
df_final['Амортизация вся(приблизительно)'] = df_final['Нематериальные активы 2024']-df_final['Нематериальные активы 2023'] +\
df_final['Основные средства 2024'] - df_final['Основные средства 2023'] + df_final['Доходные вложения 2024'] - df_final['Доходные вложения 2023']
df_final['ebita']=df_final['Доход 2024'] + df_final['Амортизация НМА(приблизительно)'] 
df_final['ebitda']=df_final['Доход 2024'] + df_final['Амортизация вся(приблизительно)'] 
df_final.loc[df_final['Амортизация НМА(приблизительно)'] < 5, 'Амортизация НМА(приблизительно)'] = 0
df_final.loc[df_final['Амортизация вся(приблизительно)'] < 5, 'Амортизация вся(приблизительно)'] = 0

In [163]:
df_final.head()

,Наименование / ФИО,Тип субъекта,Категория,ИНН,Основной вид деятельности,Регион,Район,Город,Населенный пункт,Нематериальные активы 2024,...,Основные средства 2024,Основные средства 2023,Доходные вложения 2024,Доходные вложения 2023,Доход 2024,Доход 2023,Амортизация НМА(приблизительно),Амортизация вся(приблизительно),ebita,ebitda
0,"""КОРПОРАЦИЯ ВИТ"" (ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕ...",Юридическое лицо,Малое предприятие,5038038838,41.20 Строительство жилых и нежилых зданий,50 - Московская область,Пушкино г,NaN,NaN,27,...,347613,334651,798,927,-8789,108966,0,12828,-8794,4039
1,"""ХОЗРАСЧЕТНАЯ СТРОИТЕЛЬНО-ТЕХНОЛОГИЧЕСКАЯ ФИРМ...",Юридическое лицо,Среднее предприятие,5027006369,41.20 Строительство жилых и нежилых зданий,50 - Московская область,NaN,г Дзержинский,NaN,0,...,1301535,1174472,4150,4248,10148,1565001,0,126965,10148,137113
2,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""777""",Юридическое лицо,Малое предприятие,1414006922,41.20 Строительство жилых и нежилых зданий,77 - г.Москва,NaN,NaN,NaN,0,...,93489,91174,0,0,107664,1002486,0,2315,107664,109979
3,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""АГРОТЕХИМПОРТ""",Юридическое лицо,Малое предприятие,3327332190,41.20 Строительство жилых и нежилых зданий,33 - Владимирская область,NaN,г Владимир,NaN,0,...,148048,112388,0,0,23641,1031417,0,35660,23641,59301
4,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""АКС""",Юридическое лицо,Малое предприятие,7816061297,41.20 Строительство жилых и нежилых зданий,78 - г.Санкт-Петербург,NaN,NaN,NaN,8223,...,13961,150979,69747,188843,-2975,116186,6667,0,3692,-252422

In [161]:
df_final.to_csv("df_final.csv",index=False)